.container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap {
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
}
.header {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  scroll-snap-align: start;
}
.header_dessin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10%;
}
.image_header1 {
  height: 400px;
}
.image_header2 {
  height: 400px;
}
.double_ecriture {
  display: block;
  position: absolute;
  flex-direction: column;
  margin-top: 15%;
  margin-left: 20%;
}
.soustitre {
  font-family: NewakeFont-Demo;
  font-size: 6.4vw;
  color: white;
  -webkit-text-stroke: 2px #f5483c;
  margin-bottom: -6.5vw;
  margin-left: 10.5vw;
  text-align: center;
}
.soustitre2 {
  text-align: center;
  font-family: NewakeFont-Demo;
  font-size: 6.4vw;
  margin-left: 10vw;
  color: #f5483c;
}
.section {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  scroll-snap-align: start;
}
/* spinner */
.loader {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}
.login_box {
  width: 90%;
  padding: 40px;
  margin-top: 5%;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login_box h2 {
  text-transform: uppercase;
  margin: 0 0 30px;
  padding: 0;
  color: #1d2e81;
  text-align: center;
}

.login_box .user_box {
  position: relative;
}

.login_box .user_box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #1d2e81;
  outline: none;
  background: transparent;
}
.login_box .user_box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #1d2e81;
  pointer-events: none;
  transition: 0.5s;
}
.textarea {
  background: transparent;
  font-family: Roboto;
  font-size: 14px;
  width: 100%;
}
.textarea::placeholder {
  color: #1d2e818d;
}
.login_box .user_box input:focus ~ label,
.login_box .user_box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #1d2e81;
  font-size: 12px;
}
.content_button {
  display: flex;
  position: relative;
  justify-content: center;
}
.button1 {
  display: inline-block;
  position: relative;
  margin: 20px 0 10px;
  width: 15%;
  padding: 1.3em 1em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #f5483c;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0.1, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.button1:hover {
  background: #ff1515;
  color: #fff;
  border-radius: 45px;
  box-shadow: 0 0 5px #ebdd1f, 0 0 25px #ebdd1f, 0 0 50px #ebdd1f,
    0 0 100px #ebdd1f;
}

.button1:active {
  transform: translateY(-1px);
}
@media (max-width: 700px) {
  .button1 {
    padding: 1rem;
    width: 40%;
  }
}

.container_map {
  width: 90%;
  scroll-snap-align: start;
}
.footer_content {
  background-color: #f5483c;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  scroll-snap-align: start;
}
.footer_content_column {
  flex: 1 1 0px;
  box-sizing: border-box;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
}
.footer_menu_name {
  font-family: Poppins-Bold;
  color: white;
  font-size: 1.3vw;
  letter-spacing: 0.1em;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  text-transform: uppercase;
}
.footer_menu {
  margin-top: 6%;
}
.footer_menu2 {
  margin-top: 6%;
}
.footer_menu3 {
  margin-top: 6%;
  padding-left: 40%;
}
.footer_texte {
  font-family: Poppins;
  font-size: 0.9vw;
  color: #fffff2;
  margin-top: 3%;
  margin-bottom: 3%;
  text-transform: uppercase;
}
.content_social2 {
  display: flex;
  flex-direction: row;
  top: 2rem;
}
.logoFacebook {
  height: 2rem;
  margin: 0.3rem;
}
.logoInstagram {
  height: 2rem;
  margin: 0.3rem;
}
.logoLinkedin {
  height: 2rem;
  margin: 0.3rem;
}

.footer_content2 {
  background-color: #f5483c;
  display: flex;
  width: 100%;
}
.footer_content3 {
  background-color: #f5483c;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  max-width: 100%;
}
.footer_content4 {
  background-color: #f5483c;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  max-width: 100%;
}
.footer_content_column2 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
}
.séparateur {
  border-left: 1px solid white;
  width: 1px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
}
.footer_menu4 {
  margin: auto;
  display: flex;
  flex-direction: row;
}
.footer_texte2 {
  font-family: Poppins;
  color: #ffffff;
  width: 100%;
  font-size: 18px;
  padding-bottom: 10px;
  text-align: center;
}
.footer_menu_name2 {
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Poppins-Bold;
  color: white;
  font-size: 1.3vw;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  margin-top: 0;
  cursor: pointer;
}
.footer_menu_name3 {
  text-transform: uppercase;
  font-family: Poppins-Bold;
  color: white;
  font-size: 1.3vw;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  margin-top: 2%;
  cursor: pointer;
}
/* Mobile */
@media (max-width: 700px) {
  .container {
    height: 100%;
    width: 100%;
  }
  .header {
    width: 100%;
    padding-top: 25vh;
  }
  .image_header1 {
    height: 200px;
  }
  .image_header2 {
    height: 200px;
  }
  .soustitre {
    font-size: 10vw;
    font-family: Poppins;
  }
  .soustitre2 {
    font-family: Poppins;
    font-size: 10vw;
    margin-top: -28%;
  }
  .footer_content {
    visibility: hidden;
  }
  .footer_content4 {
    height: 5px;
  }
  .footer_content2 {
    background-color: #f5483c;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footer_content_column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .footer_menu4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .séparateur {
    visibility: hidden;
  }
  .footer_menu_name2 {
    text-align: center;
    font-size: 4vw;
    margin-bottom: -10%;
  }
  .footer_menu_name3 {
    margin-top: 10%;
    font-size: 4vw;
  }
}
