.container {
  scroll-behavior: smooth;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap {
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
}
.header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
.header_dessin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10%;
}
.image_header1 {
  height: 400px;
  margin-top: 10%;
}
.image_header2 {
  height: 400px;
}
.double_ecriture {
  display: block;
  flex-direction: column;
  margin-top: 12%;
  position: relative;
}
.soustitre {
  font-family: NewakeFont-Demo;
  font-size: 6.4vw;
  color: white;
  -webkit-text-stroke: 2px #f5483c;
  margin-bottom: -12.8vw;
  margin-left: 6.5vw;
  text-align: center;
}
.soustitre2 {
  text-align: center;
  font-family: NewakeFont-Demo;
  font-size: 6.4vw;
  margin-left: 6.5vw;
  color: #f5483c;
}
.soustitre3 {
  margin-top: -8vw;
  text-align: center;
}

.texte_normal {
  margin-bottom: -2vw;
  font-family: Poppins;
  color: #f5483c;
  font-size: 2.2vw;
}
.texte_gras {
  font-family: Poppins-Bold;
  color: #f5483c;
  font-size: 2.2vw;
  -webkit-text-stroke: 1.5px #f5483c;
}
.scroll_down_arrow {
  border-color: #ff5642;
  border-width: 0vw 0.5vw 0.5vw 0vw;
  border-style: solid;
  height: 1.5vw;
  width: 1.5vw;
  transform: rotate(45deg);
  transition: border-width 100ms;
  margin: 0 auto;
}

.scroll_down_arrow:hover {
  border-color: #0062ff;
}

.fleche {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 15px;
  margin-left: 30%;
  cursor: pointer;
}
.content_fleche {
  margin-bottom: 7%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.content_fleche :hover {
  opacity: 30%;
}
/* section1 */

.slogan {
  font-family: Poppins;
  font-size: 5.2vw;
  text-align: center;
  color: #f5483c;
  font-weight: 200;
  margin-bottom: -2.8vw;
}
.slogan2 {
  font-family: Poppins;
  font-size: 5.2vw;
  text-align: center;
  color: white;
  -webkit-text-stroke: 2.2px #f5483c;
  margin-bottom: -2.8vw;
}
.slogan3 {
  font-family: Poppins;
  font-size: 5.2vw;
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px #f5483c;
  margin-bottom: -2.8vw;
}
.slogan4 {
  font-family: Poppins;
  font-size: 5.2vw;
  text-align: center;
  color: white;
  -webkit-text-stroke: 0.8px #f5483c;
  margin-bottom: -2.8vw;
}
/* height:100vh ou auto section2*/
.section2 {
  height: 185vh;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  scroll-snap-align: start;
}

.section2_slogan {
  display: block;
  flex-direction: column;
  padding-top: 5%;
}
.titre2 {
  font-family: NewakeFont-Demo;
  font-size: 10rem;
  text-align: center;
  color: white;
  -webkit-text-stroke: 3.5px #487be0;
  text-transform: uppercase;
  margin-top: 5%;
  margin-bottom: 0px;
}
.soustitre_section2 {
  font-family: Poppins-Bold;
  color: #487be0;
  font-size: 4.4vw;
  margin-top: -4.5vw;
  -webkit-text-stroke: 3px #487be0;
}
.texte_section2 {
  margin-top: -4vw;
  font-family: Poppins;
  font-size: 1.8rem;
  text-align: center;
  color: #487be0;
}
.texte_normal_section2 {
  margin-left: 10rem;
  margin-right: 10rem;
  font-family: Poppins;
  font-size: 1.8rem;
  text-align: center;
  color: #487be0;
}

.texte_gras_section2 {
  font-family: Poppins-Bold;
  color: #487be0;
  font-size: 2vw;
  -webkit-text-stroke: 1.5px #487be0;
}
/* section3 */

.section3 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  scroll-snap-align: start;
}
.content3 {
  display: flex;
  flex-direction: row;
  width: 70%;
  border-radius: 80px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 50px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 26px -25px inset;
}
.image_section3 {
  margin-top: 10%;
  margin-left: 10%;
  height: 15vw;
  width: 15vw;
}
.texte_normal_section3 {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 6rem;
  margin-right: 6rem;
  font-family: Poppins;
  font-size: 1.8rem;
  text-align: center;
  color: #f5483c;
}

.texte_gras_section3 {
  font-family: Poppins-Bold;
  color: #f5483c;
  font-size: 2vw;
  -webkit-text-stroke: 1.5px #f5483c;
}
.section4 {
  height: 180vh;
  width: 100%;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
.content_section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.soustitre_section4 {
  font-family: Poppins-Bold;
  color: rgb(237, 207, 89);
  font-size: 4.4vw;
  -webkit-text-stroke: 3px rgb(237, 207, 89);
}
.titre4 {
  font-family: NewakeFont-Demo;
  font-size: 35vw;
  text-align: center;
  color: white;
  -webkit-text-stroke: 3.5px rgb(237, 207, 89);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: -30vw;
}
.card_section4 {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.image_section4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.image {
  width: 95%;
  border-radius: 20px;
  margin: auto;
  position: flex;
  align-items: center;
  box-shadow: 5px 5px 30px 7px rgba(244, 234, 234, 0.199),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}
.image:hover {
  transform: scale(1.15);
}
.button1 {
  background-color: #2176fb;
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: none;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 2rem;
}
.button1:hover {
  background-color: #2176fb;
  opacity: 60%;
  box-shadow: 0px 15px 20px rgba(187, 34, 34, 0.275);
  color: white;
  transform: translateY(-7px);
}

.button2 {
  background-color: #ff5642;
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: 0 0.1em 0.1em 0;
  border: none;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  cursor: url(../public/stylo-plume.png), default;
}
.button2:hover {
  background-color: #ff5642;
  opacity: 60%;
  box-shadow: 0px 15px 20px rgba(187, 34, 34, 0.275);
  color: white;
  transform: translateY(-7px);
}
.section5 {
  height: 150vh;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  scroll-snap-align: start;
}

.titre5 {
  font-family: NewakeFont-Demo;
  font-size: 7rem;
  text-align: center;
  color: white;
  -webkit-text-stroke: 3.5px #487be0;
  text-transform: uppercase;
  padding-top: 3%;
  margin-bottom: -10%;
}
.soustitre_section5 {
  font-family: Poppins-Bold;
  color: #487be0;
  font-size: 4.4vw;
  margin-top: 5.2vw;
  -webkit-text-stroke: 3px #487be0;
}
/* ligne */
.timeline {
  border-left: 5px solid #487be0;
  padding-bottom: 0.5rem;
  bottom: -4rem;
  position: relative;
  margin-left: 10%;
}
.timeline2 {
  border-left: 5px solid #f6bc15;
  padding-bottom: 0.5em;
  bottom: -4rem;
  position: relative;
  margin-left: 10%;
}
.timeline3 {
  border-left: 5px solid #ff5642;
  padding-bottom: 1em;
  bottom: -4rem;
  position: relative;
  margin-left: 10%;
}
.timeline4 {
  border-left: 5px solid black;
  padding-bottom: 1em;
  bottom: -3rem;
  position: relative;
  margin-left: 10%;
}
/* point rond sur ligne */
.tl_node {
  margin-left: 1em;
  margin-bottom: 0.5em;
  position: relative;
}
/* .tl_node a {
  display: block;
} */
.tl_node:before {
  content: "";
  position: absolute;
  top: 0;
  left: -2em;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #487be0;
  border: 5px solid #487be0;
}
.tl_node2 {
  margin-left: 1em;
  margin-bottom: 0.5em;
  position: relative;
}

.tl_node2:before {
  content: "";
  position: absolute;
  top: 0;
  left: -2em;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #f6bc15;
  border: 5px solid #f6bc15;
}
.tl_node3 {
  margin-left: 1em;
  margin-bottom: 0.5em;
  position: relative;
}

.tl_node3:before {
  content: "";
  position: absolute;
  top: 0;
  left: -2em;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #ff5642;
  border: 5px solid #ff5642;
}
.tl_node4 {
  margin-left: 1em;
  margin-bottom: 0.5em;
  position: relative;
}

.tl_node4:before {
  content: "";
  position: absolute;
  top: 0;
  left: -2em;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: black;
  border: 5px solid black;
}
/* fleche rotation? */

.arrow_down {
  border: solid #487be0;
  border-width: 0 7px 7px 0;
  display: inline-block;
  position: relative;
  padding: 8px;
  margin-bottom: 1vh;
  margin-left: 2vh;
  transform: translate(-2px, 0) rotate(45deg);
}

.arrow_down2 {
  border: solid #f6bc15;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 8px;
  margin-bottom: 1vh;
  margin-left: 2vh;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow_down3 {
  border: solid #ff5642;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 8px;
  margin-bottom: 1vh;
  margin-left: 2vh;
  transform: rotate(45deg);
}
.arrow_down4 {
  border: solid black;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 8px;
  margin-bottom: 1vh;
  margin-left: 2vh;
  transform: rotate(45deg);
}
/* Timestamp */
.details {
  padding-left: 2rem;
  width: 65em;
  max-width: calc(100% - 2rem);
  position: relative;
  color: #487be0;
  transition: background-color 0.15s;
  text-align: start;
}

.details::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: -1;
}
.summary {
  padding: 0.2rem 2em 0.2rem 0;
  display: block;
  position: relative;
  font-size: 2em;
  cursor: pointer;
  font-family: Poppins-Bold;
  text-transform: uppercase;
}
.summary_texte {
  font-family: Poppins;
  font-size: 1.5em;
  color: #487be0;
}
.details2 {
  padding-left: 2rem;
  width: 65em;
  max-width: calc(100% - 2rem);
  position: relative;
  color: #f6bc15;
  transition: background-color 0.15s;
  text-align: start;
}
.details2::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: -1;
}
.summary2 {
  padding: 0.2rem 2em 0.2rem 0;
  display: block;
  position: relative;
  font-size: 2em;
  cursor: pointer;
  font-family: Poppins-Bold;
  text-transform: uppercase;
}
.summary_texte2 {
  font-family: Poppins;
  font-size: 1.5em;
  color: #f6bc15;
}
.summary_texte_gras {
  font-family: Poppins-Bold;
  font-size: 1em;
  color: #f6bc15;
}
.details3 {
  padding-left: 2rem;
  width: 65em;
  max-width: calc(100% - 2rem);
  position: relative;
  color: #ff5642;
  transition: background-color 0.15s;
  text-align: start;
}
.details3::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: -1;
}
.summary3 {
  padding: 0.2rem 2em 0.2rem 0;
  display: block;
  position: relative;
  font-size: 2em;
  cursor: pointer;
  font-family: Poppins-Bold;
  text-transform: uppercase;
}
.summary_texte3 {
  font-family: Poppins;
  font-size: 1.5em;
  color: #ff5642;
}
.details4 {
  padding-left: 2rem;
  width: 65em;
  max-width: calc(100% - 2rem);
  position: relative;
  color: black;
  transition: background-color 0.15s;
  text-align: start;
}
.details4::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: -1;
}
.summary4 {
  padding: 0.2rem 2em 0.2rem 0;
  display: block;
  position: relative;
  font-size: 2em;
  cursor: pointer;
  font-family: Poppins-Bold;
  text-transform: uppercase;
}
.summary_texte4 {
  font-family: Poppins;
  font-size: 1.5em;
  color: black;
}
.section8 {
  display: 100vh;
  justify-content: center;
  width: 100%;
  text-align: center;
  scroll-snap-align: start;
}
.content_section8 {
  padding-top: 50vh;
}

.section9 {
  height: 100vh;
  width: 100%;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
.content_section9 {
  position: flex;
  font-family: Poppins;
  font-size: 3vw;
  text-align: center;
  color: rgb(237, 207, 89);
  padding-top: 20%;
}
.gras_texte9 {
  font-family: Poppins-Bold;
  color: #f5483c;
  font-size: 4vw;
  -webkit-text-stroke: 2px #f5483c;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
}
.gras_texte9_bis {
  color: #f5483c;
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 3vw;
}
.content_social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logoFacebook {
  height: 2rem;
  margin: 0.3rem;
}
.logoInstagram {
  height: 2rem;
  margin: 0.3rem;
}
.logoLinkedin {
  height: 2rem;
  margin: 0.3rem;
}
/* Bouton retour de page */
.returnButton {
  z-index: 2;
  background: url(../public/bouton-haut-rouge.png) no-repeat center;
  width: 60px;
  height: 60px;
  opacity: 50%;
  text-indent: -99999px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

/* footer */

.footer_content {
  background-color: #f5483c;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  scroll-snap-align: start;
}
.footer_content_column {
  flex: 1 1 0px;
  box-sizing: border-box;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
}
.footer_menu_name {
  font-family: Poppins-Bold;
  color: white;
  font-size: 1.3vw;
  letter-spacing: 0.1em;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  text-transform: uppercase;
}
.footer_menu {
  margin-top: 6%;
}
.footer_menu2 {
  margin-top: 6%;
}
.footer_menu3 {
  margin-top: 6%;
  padding-left: 40%;
}
.footer_texte {
  font-family: Poppins;
  font-size: 0.9vw;
  color: #fffff2;
  margin-top: 3%;
  margin-bottom: 3%;
  text-transform: uppercase;
}
.content_social2 {
  display: flex;
  flex-direction: row;
  top: 2rem;
}
.logoFacebook {
  height: 2rem;
  margin: 0.3rem;
}
.logoInstagram {
  height: 2rem;
  margin: 0.3rem;
}
.logoLinkedin {
  height: 2rem;
  margin: 0.3rem;
}

.footer_content2 {
  background-color: #f5483c;
  display: flex;
  width: 100%;
}
.footer_content3 {
  background-color: #f5483c;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  max-width: 100%;
}
.footer_content4 {
  background-color: #f5483c;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  max-width: 100%;
}
.footer_content_column2 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
}
.séparateur {
  border-left: 1px solid white;
  width: 1px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
}
.footer_menu4 {
  margin: auto;
  display: flex;
  flex-direction: row;
}
.footer_texte2 {
  font-family: Poppins;
  color: #ffffff;
  width: 100%;
  font-size: 18px;
  padding-bottom: 10px;
  text-align: center;
}
.footer_menu_name2 {
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Poppins-Bold;
  color: white;
  font-size: 1.3vw;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  margin-top: 0;
  cursor: pointer;
}
.footer_menu_name3 {
  text-transform: uppercase;
  font-family: Poppins-Bold;
  color: white;
  font-size: 1.3vw;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  margin-top: 2%;
  cursor: pointer;
}
/* Mobile */
@media (max-width: 700px) {
  .container {
    height: 100%;
    width: 100%;
  }
  .header {
    width: 100%;
    padding-top: 22vh;
  }
  .image_header1 {
    height: 20vh;
  }
  .image_header2 {
    height: 20vh;
  }
  .double_ecriture {
    margin-left: -2vh;
  }
  .soustitre {
    font-size: 10vw;
    font-family: Poppins;
    margin-left: 2vh;
    margin-bottom: -52.8vw;
  }
  .soustitre2 {
    font-family: Poppins;
    font-size: 10vw;
    margin-left: 3vh;
  }
  .content_fleche {
    margin-bottom: 40%;
  }
  .soustitre3 {
    margin-top: -4vw;
  }
  .texte_normal {
    margin-bottom: -2vw;
    font-size: 5.2vw;
  }
  .texte_gras {
    font-size: 5.2vw;
    -webkit-text-stroke: 1px;
  }
  .section2_slogan {
    width: 100%;
    padding-top: 30%;
  }

  .gras {
    font-size: 10vw;
    -webkit-text-stroke: 1px;
  }
  /* section2 */
  .titre2 {
    font-size: 25vw;
  }
  .soustitre_section2 {
    font-size: 10vw;
    font-family: Poppins;
  }
  .texte_normal_section2 {
    font-size: 5vw;
    width: 90%;
    margin-left: 5%;
  }
  .texte_gras_section2 {
    font-size: 5vw;
    -webkit-text-stroke: 1px;
  }
  .image_section4 {
    margin-left: 7%;
  }
  .content3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 92%;
  }
  .image_section3 {
    margin-left: -0%;
  }
  .texte_normal_section3 {
    font-size: 5vw;
    width: 90%;
  }
  .texte_gras_section3 {
    font-size: 5vw;
    -webkit-text-stroke: 1px;
  }
  .content_section4 {
    padding-top: 20%;
  }
  .soustitre_section4 {
    padding-top: 8%;
    font-size: 9vw;
    font-family: Poppins;
  }
  .image_section4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    overflow: auto;
    scroll-snap-type: x mandatory;
    border-radius: 10%;
  }
  .image {
    flex-shrink: 0;
    scroll-snap-align: start;
  }
  .titre5 {
    font-size: 14vw;
    padding-top: 20%;
  }
  .section5 {
    height: 250vh;
    scroll-snap-align: start;
  }
  .soustitre_section5 {
    font-family: Poppins;
    font-size: 8vw;
    margin-top: 5%;
    margin-bottom: -5%;
  }
  .details {
    padding-left: 0.8rem;
  }
  .details2 {
    padding-left: 0.8rem;
  }
  .details3 {
    padding-left: 0.8rem;
  }
  .details4 {
    padding-left: 0.8rem;
  }
  .summary {
    font-size: 6vw;
  }
  .summary_texte {
    font-size: 5vw;
  }
  .summary2 {
    font-size: 6vw;
  }
  .summary_texte2 {
    font-size: 5vw;
  }
  .summary3 {
    font-size: 6vw;
  }
  .summary_texte3 {
    font-size: 5vw;
  }
  .summary4 {
    font-size: 6vw;
  }
  .summary_texte4 {
    font-size: 5vw;
  }
  .gras_texte9 {
    font-family: Poppins;
    font-size: 5vw;
    margin-top: 80%;
    margin-bottom: 10%;
    -webkit-text-stroke: 1px;
  }
  .button1 {
    width: 80%;
    font-size: 4vw;
  }
  .button2 {
    width: 80%;
    font-size: 4vw;
  }
  .button3 {
    width: 80%;
    font-size: 4vw;
  }
  .grid2 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo_img {
    margin: auto;
    padding-bottom: 5%;
    width: 80%;
    position: flex;
    align-items: center;
  }
  .footer_content {
    visibility: hidden;
  }
  .footer_content4 {
    height: 5px;
  }
  .footer_content2 {
    background-color: #f5483c;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footer_content_column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .footer_menu4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .séparateur {
    visibility: hidden;
  }
  .footer_menu_name2 {
    text-align: center;
    font-size: 4vw;
    margin-bottom: -10%;
  }
  .footer_menu_name3 {
    margin-top: 10%;
    font-size: 4vw;
  }
}
