.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap {
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* header */

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  scroll-snap-align: start;
}
.header_dessin {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10%;
}
.image_header1 {
  height: 400px;
}
.image_header2 {
  height: 400px;
}
.double_ecriture {
  display: block;
  position: absolute;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 15%;
}
.soustitre {
  font-family: NewakeFont-Demo;
  font-size: 6.4vw;
  color: white;
  -webkit-text-stroke: 2px #f5483c;
  margin-bottom: -6.5vw;
  margin-left: 10vw;
  text-align: center;
}
.soustitre2 {
  text-align: center;
  font-family: NewakeFont-Demo;
  font-size: 6.4vw;
  margin-left: 10vw;
  color: #f5483c;
}
.soustitre3 {
  margin-top: -5vw;
  text-align: center;
}

.texte_normal {
  margin-bottom: -2vw;
  font-family: Poppins;
  color: #f5483c;
  font-size: 2.2vw;
}
.texte_gras {
  font-family: Poppins-Bold;
  color: #f5483c;
  font-size: 2.2vw;
  -webkit-text-stroke: 1.5px #f5483c;
}
.texte_fleche {
  font-family: Poppins;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #ff5642;
  font-size: 1rem;
  margin-bottom: 10%;
}
.fleche {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 15px;
  margin-left: 50%;
  cursor: pointer;
}
.content_fleche {
  margin-bottom: 7%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.content_fleche :hover {
  opacity: 30%;
}
/* section2 */
.slogan {
  font-family: Poppins;
  font-size: 5.2vw;
  text-align: center;
  color: #f5483c;
  font-weight: 200;
  margin-bottom: -2.8vw;
}
.slogan2 {
  font-family: Poppins;
  font-size: 5.2vw;
  text-align: center;
  color: white;
  -webkit-text-stroke: 2.2px #f5483c;
  margin-bottom: -2.8vw;
}
.slogan3 {
  font-family: Poppins;
  font-size: 5.2vw;
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px #f5483c;
  margin-bottom: -2.8vw;
}
.slogan4 {
  font-family: Poppins;
  font-size: 5.2vw;
  text-align: center;
  color: white;
  -webkit-text-stroke: 0.8px #f5483c;
  margin-bottom: -2.8vw;
}
/* height:100vh ou auto section2*/
.section2 {
  height: 185vh;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  scroll-snap-align: start;
}

.section2_slogan {
  display: block;
  flex-direction: column;
  padding-top: 5%;
}
.titre2 {
  font-family: NewakeFont-Demo;
  font-size: 8vw;
  text-align: center;
  color: white;
  -webkit-text-stroke: 3.5px #487be0;
  text-transform: uppercase;
  margin-top: 5%;
  margin-bottom: 0px;
}
.soustitre_section2 {
  font-family: Poppins-Bold;
  color: #487be0;
  font-size: 4.4vw;
  margin-top: -4.5vw;
  -webkit-text-stroke: 3px #487be0;
}
/* equipe */
.profile_card {
  max-width: 400px;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  background-position: center;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 10px;
}
.row_equipe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profile_card .img_equipe {
  transition: all linear 0.25s;
  width: 100%;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.img_equipe {
  transition: all linear 0.25s;
  width: 100%;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
}
.img_equipe:hover {
  background-color: #ffffff;
  opacity: 50%;
}
.profile_card .profile_equipe {
  position: absolute;
  left: 30px;
  right: 15px;
  bottom: 0;
  transition: all linear 0.25s;
}

.profile_card .name_equipe {
  font-size: 6vh;
  line-height: 1;
  color: #ffffff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  position: relative;
  transition: all 400ms ease-out;
  text-transform: uppercase;
}

.profile_card .text_equipe {
  visibility: hidden;
  opacity: 0;
  font-size: 25px;
  line-height: 1.4;
  color: #ffffff;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  height: unset;
  transition: all linear 0.25s;
}

.profile_card:hover .profile_equipe {
  bottom: 30px;
}

.profile_card:hover .name_equipe {
  font-size: 6vh;
  font-family: Poppins-Bold;
  color: #f6bc15;
}

.profile_card:hover .name_equipe ::before,
.profile_card:hover .name_equipe ::after {
  content: "";
  display: inline-block;
  background: #fff;
  border-radius: 20px;
  width: 120px;
  height: 2px;
  margin-right: 0;
  margin-left: 0;
  transition: all 250ms ease-in;
}

.profile_card .name_equipe::before {
  position: absolute;
  left: 0;
  top: -7px;
  transform: translateX(0);
}

.profile_card .name_equipe::after {
  position: absolute;
  left: 0;
  bottom: -7px;
  transform: translateX(-200px);
}

.profile_card:hover .name_equipe::before {
  content: "";
  background: #f6bc15;
  transform: translateX(-200px);
}

.profile_card:hover .name_equipe::after {
  content: "";
  background: #f6bc15;
  transform: translateX(0);
}

.profile_card:hover .text_equipe {
  visibility: visible;
  opacity: 1;
  transition: all 400ms ease-out;
  height: initial;
}

@media (max-width: 768px) {
  .profile_card .profile_equipe {
    bottom: 30px;
  }
  .profile_card .text_equipe {
    visibility: visible;
    opacity: 1;
    height: initial;
  }
  .profile_card .name_equipe::before {
    display: none;
  }
  .profile_card .name_equipe::after {
    position: absolute;
    left: 0;
    bottom: -7px;
    transform: translateX(0);
  }
}
/* footer */

.footer_content {
  background-color: #f5483c;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  scroll-snap-align: start;
}
.footer_content_column {
  flex: 1 1 0px;
  box-sizing: border-box;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
}
.footer_menu_name {
  font-family: Poppins-Bold;
  color: white;
  font-size: 1.3vw;
  letter-spacing: 0.1em;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  text-transform: uppercase;
}
.footer_menu {
  margin-top: 6%;
}
.footer_menu2 {
  margin-top: 6%;
}
.footer_menu3 {
  margin-top: 6%;
  padding-left: 40%;
}
.footer_texte {
  font-family: Poppins;
  font-size: 0.9vw;
  color: #fffff2;
  margin-top: 3%;
  margin-bottom: 3%;
  text-transform: uppercase;
}
.content_social2 {
  display: flex;
  flex-direction: row;
  top: 2rem;
}
.logoFacebook {
  height: 2rem;
  margin: 0.3rem;
}
.logoInstagram {
  height: 2rem;
  margin: 0.3rem;
}
.logoLinkedin {
  height: 2rem;
  margin: 0.3rem;
}

.footer_content2 {
  background-color: #f5483c;
  display: flex;
  width: 100%;
}
.footer_content3 {
  background-color: #f5483c;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  max-width: 100%;
}
.footer_content4 {
  background-color: #f5483c;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  max-width: 100%;
}
.footer_content_column2 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
}
.séparateur {
  border-left: 1px solid white;
  width: 1px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
}
.footer_menu4 {
  margin: auto;
  display: flex;
  flex-direction: row;
}
.footer_texte2 {
  font-family: Poppins;
  color: #ffffff;
  width: 100%;
  font-size: 18px;
  padding-bottom: 10px;
  text-align: center;
}
.footer_menu_name2 {
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Poppins-Bold;
  color: white;
  font-size: 1.3vw;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  margin-top: 0;
  cursor: pointer;
}
.footer_menu_name3 {
  text-transform: uppercase;
  font-family: Poppins-Bold;
  color: white;
  font-size: 1.3vw;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  margin-top: 2%;
  cursor: pointer;
}
/* Mobile */
@media (max-width: 700px) {
  .container {
    height: 100%;
    width: 100%;
  }
  .header {
    width: 100%;
    padding-top: 25vh;
  }
  .image_header1 {
    height: 200px;
  }
  .image_header2 {
    height: 200px;
  }
  .soustitre {
    font-size: 10vw;
    font-family: Poppins;
  }
  .soustitre2 {
    font-family: Poppins;
    font-size: 10vw;
    margin-top: -18%;
  }
  .soustitre3 {
    margin-top: -4vw;
  }
  .texte_normal {
    margin-bottom: -2vw;
    font-size: 5.2vw;
  }
  .texte_gras {
    font-size: 5.2vw;
    -webkit-text-stroke: 1px;
  }
  .content_fleche {
    margin-bottom: 20%;
    text-align: center;
  }
  .section2_slogan {
    width: 100%;
    padding-top: 30%;
  }
  .slogan {
    font-size: 5.3vw;
  }
  .slogan2 {
    font-size: 5.3vw;
  }
  .slogan3 {
    font-size: 5.3vw;
  }
  .slogan4 {
    font-size: 5.3vw;
  }
  .gras {
    font-size: 10vw;
  }
  /* section2 */
  .section2 {
    height: 250vh;
    scroll-snap-align: start;
  }
  .titre2 {
    font-size: 25vw;
  }
  .soustitre_section2 {
    font-size: 10vw;
    font-family: Poppins;
  }
  .row_equipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8%;
  }
  .footer_content {
    visibility: hidden;
  }
  .footer_content4 {
    height: 5px;
  }
  .footer_content2 {
    background-color: #f5483c;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footer_content_column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .footer_menu4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .séparateur {
    visibility: hidden;
  }
  .footer_menu_name2 {
    text-align: center;
    font-size: 4vw;
    margin-bottom: -10%;
  }
  .footer_menu_name3 {
    margin-top: 10%;
    font-size: 4vw;
  }
}
