.main {
  color: #ffffff;
  background-color: #f5483c;
  min-height: 100%;
  position: relative;
}
.footer_content {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  position: relative;
  bottom: 0;
}
.footer_content_column {
  flex: 1 1 0px;
  box-sizing: border-box;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
}
.footer_menu_name {
  font-family: Poppins-Bold;
  color: white;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  text-transform: uppercase;
}
.footer_menu {
  margin-top: 30px;
}
.footer_texte {
  font-family: Poppins;
  font-size: 12px;
  color: #fffff2;
  margin-top: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.content_social {
  display: flex;
  flex-direction: row;
  top: 2rem;
}
.logoFacebook {
  height: 2rem;
  margin: 0.3rem;
}
.logoInstagram {
  height: 2rem;
  margin: 0.3rem;
}
.logoLinkedin {
  height: 2rem;
  margin: 0.3rem;
}

.footer_content2 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  max-width: 100%;
}
.footer_content_column2 {
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
}
.séparateur {
  border-left: 1px solid white;
  width: 1px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
}
.footer_menu2 {
  margin: auto;
  display: flex;
  flex-direction: row;
}
.footer_texte2 {
  font-family: Poppins;
  width: 100%;
  font-size: 18px;
  padding-bottom: 10px;
  text-align: center;
}
.footer_menu_name2 {
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Poppins-Bold;
  color: white;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  cursor: pointer;
}
.footer_menu_name3 {
  text-transform: uppercase;
  font-family: Poppins-Bold;
  color: white;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 10px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    min-height: 50%;
    position: relative;
  }
  .footer_content_column {
    visibility: hidden;
  }
}
