.header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content_info {
  position: absolute;
  top: 20%;
  left: 58%;
  width: 380px;
  margin: auto;
  padding: 30px 10px 30px 10px;
  background: #565fbc;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.content_row {
  display: flex;
  align-items: center;
  padding: 5px;
}
.content_icon {
  margin-right: 10px;
  margin-left: 10px;
}
.icon {
  width: 30px;
  height: 30px;
}
.content_texte {
  display: flex;
  color: white;
  margin-left: 10px;
  text-align: start;
}
.logomenu {
  display: block;
  position: relative;
  height: 60px;
  width: auto;
  max-width: 100%;
  margin-top: 3rem;
  cursor: pointer;
}
.menuicon {
  visibility: hidden;
}
.menuicon:checked + label,
.menuicon:not(:checked) + label {
  position: fixed;
  top: 43px;
  right: 40px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menuicon:checked + label:before,
.menuicon:not(:checked) + label:before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease,
    top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menuicon:checked + label:after,
.menuicon:not(:checked) + label:after {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, right 100ms 1750ms ease,
    margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menuicon:checked + label:before {
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease,
    top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menuicon:checked + label:after {
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav {
  position: fixed;
  top: 14px;
  right: 20px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  background-color: #303dc8;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 1100ms ease,
    width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
    height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.menuicon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease,
    width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
    height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
/* cacher le content info quand on clique sur hamburger: hidden */
.nav ul .content_info {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul .content_info :nth-child(1) {
  transition-delay: 200ms;
}
.nav ul li:nth-child(1) {
  transition-delay: 200ms;
}
.nav ul li:nth-child(2) {
  transition-delay: 150ms;
}
.nav ul li:nth-child(3) {
  transition-delay: 100ms;
}
.nav ul li:nth-child(4) {
  transition-delay: 50ms;
}
.nav ul li a {
  font-family: poppins;
  font-size: 8vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
  text-decoration: none;
}
.nav ul li a:hover {
  text-decoration: none;
  color: #393bb6;
}

.nav ul li a:hover:after {
  width: 100%;
}

.menuicon:checked ~ .nav ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease, transform 250ms ease;
}
/* ouvrir le content info quand on clique sur hamburger: visible */
.menuicon:checked ~ .nav ul .content_info {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease, transform 250ms ease;
}
.menuicon:checked ~ .nav ul .content_info:nth-child(1) {
  transition-delay: 1400ms;
}
.menuicon:checked ~ .nav ul li:nth-child(1) {
  transition-delay: 1400ms;
}
.menuicon:checked ~ .nav ul li:nth-child(2) {
  transition-delay: 1480ms;
}
.menuicon:checked ~ .nav ul li:nth-child(3) {
  transition-delay: 1560ms;
}
.menuicon:checked ~ .nav ul li:nth-child(4) {
  transition-delay: 1640ms;
}
.header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logomenu {
  display: block;
  position: relative;
  height: 60px;
  width: auto;
  max-width: 100%;
  margin-top: 3rem;
  cursor: pointer;
}
/* hamburger */
.menuicon:checked + label,
.menuicon:not(:checked) + label {
  position: fixed;
  top: 43px;
  right: 40px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
/* barre haut bas sur hamburger */
.menuicon:checked + label:before,
.menuicon:not(:checked) + label:before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease,
    top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* barre milieu hamburger */
.menuicon:checked + label:after,
.menuicon:not(:checked) + label:after {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, right 100ms 1750ms ease,
    margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* barre en pente décroissant après ouverture hamburger  */
.menuicon:checked + label:before {
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease,
    top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* barre en pente croissant après ouverture hamburger */
.menuicon:checked + label:after {
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav {
  position: fixed;
  top: 14px;
  right: 20px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  background-color: #303dc8;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 1100ms ease,
    width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
    height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.menuicon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease,
    width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
    height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 20px;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
/* texte menu  */
.nav ul li {
  position: relative;
  display: block;
  width: 80%;
  padding: 0;
  margin: 40px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1) {
  transition-delay: 200ms;
}
.nav ul li:nth-child(2) {
  transition-delay: 150ms;
}
.nav ul li:nth-child(3) {
  transition-delay: 100ms;
}
.nav ul li:nth-child(4) {
  transition-delay: 50ms;
}
.nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;

  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover {
  text-decoration: none;
  color: yellow;
}

.nav ul li a:hover:after {
  width: 100%;
}

.menuicon:checked ~ .nav ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease, transform 250ms ease;
}
.menuicon:checked ~ .nav ul li:nth-child(1) {
  transition-delay: 1400ms;
}
.menuicon:checked ~ .nav ul li:nth-child(2) {
  transition-delay: 1480ms;
}
.menuicon:checked ~ .nav ul li:nth-child(3) {
  transition-delay: 1560ms;
}
.menuicon:checked ~ .nav ul li:nth-child(4) {
  transition-delay: 1640ms;
}
/* mobile */
@media (max-width: 700px) {
  .nav {
    display: flex;
    align-items: center;
  }

  .nav ul {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    padding: 0;
    margin: 5px;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .nav ul li {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    margin: 25px 0;
  }

  .nav ul li a {
    font-size: 4vh;
  }
  .content_texte {
    font-size: 12px;
  }

  .content_info {
    position: relative;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 15%;
    margin-left: auto;
    margin-bottom: 8%;
    margin-right: auto;
    left: 0;
    font-size: 1.8vh;
  }
}
/* ipad */
@media (min-width: 700px) and (max-width: 1023px) {
  .header {
    display: flex;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    top: 45%;
  }
  .nav ul li {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    margin: 25px 0;
  }
  .nav ul li a {
    font-size: 5vh;
  }
  /* .content_info {
    top: 0%;
    left: 33%;
    width: 500px;
    padding: 30px 10px 30px 10px;
    margin: 35rem 0rem;
  } */
  .content_info {
    position: relative;
    display: block;
    text-align: center;
    align-items: center;
    width: 600px;
    margin-top: 15%;
    margin-left: auto;
    margin-bottom: 5%;
    margin-right: auto;
    left: 0;
    font-size: 2.5vh;
  }
}
