.header {
  height: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content_info {
  align-items: center;
  position: absolute;
  top: 10%;
  left: 55%;
  width: 450px;
  margin: auto;
  padding: 30px 10px 30px 10px;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 50px;
}
.content_row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}
.texte_info {
  display: flex;
  font-family: Poppins-SemiBold;
  justify-content: center;
  text-align: center;
  color: #ff5642;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 15%;
}
.texte_info2 {
  visibility: hidden;
  display: flex;
  font-family: Poppins-SemiBold;
  justify-content: center;
  text-align: center;
  color: #ff5642;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: -25%;
  margin-bottom: 15%;
}
.content_row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  margin-top: -13vh;
}
.content_texte {
  font-family: Poppins;
  display: flex;
  color: #ff5642;
  margin-left: 14%;
  margin-right: 14%;
  margin-bottom: 6%;
  text-align: center;
}
.texte {
  font-size: 1.2vw;
  font-weight: 110;
}
.content_logo {
  margin-top: 6.5rem;
  margin-left: 1.5rem;
}
.card_contact {
  width: 100%;
  margin: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #f5483c;
}
.icons_contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}
.buttonMail {
  margin-right: 5%;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  background: white;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.buttonPlan {
  margin-left: 15%;
  margin-right: 5%;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  background: white;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.buttonTel {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  transform: rotate(90deg);
  background: white;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.logomenu {
  display: flex;
  width: 100%;
  display: block;
  position: relative;
  height: 60px;
  width: auto;
  max-width: 100%;
  cursor: url(../public/stylo-plume.png), default;
}
/* cacher le content info quand on clique sur hamburger : hidden*/
.nav ul .content_info {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul .content_info :nth-child(1) {
  transition-delay: 200ms;
}
.nav ul li:nth-child(1) {
  transition-delay: 200ms;
}
.nav ul li:nth-child(2) {
  transition-delay: 150ms;
}
.nav ul li:nth-child(3) {
  transition-delay: 100ms;
}
.nav ul li:nth-child(4) {
  transition-delay: 50ms;
}
.nav ul li a {
  font-family: "poppins";
  font-size: 8vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
  text-decoration: none;
}
.nav ul li a:hover {
  text-decoration: none;
  color: #393bb6;
}

.nav ul li a:hover:after {
  width: 100%;
}

.menuicon:checked ~ .nav ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease, transform 250ms ease;
}
/* ouvrir le content info quand on clique sur hamburger : visible*/
.menuicon:checked ~ .nav ul .content_info {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease, transform 250ms ease;
}
.menuicon:checked ~ .nav ul .content_info:nth-child(1) {
  transition-delay: 1400ms;
}
.menuicon:checked ~ .nav ul li:nth-child(1) {
  transition-delay: 1400ms;
}
.menuicon:checked ~ .nav ul li:nth-child(2) {
  transition-delay: 1480ms;
}
.menuicon:checked ~ .nav ul li:nth-child(3) {
  transition-delay: 1560ms;
}
.menuicon:checked ~ .nav ul li:nth-child(4) {
  transition-delay: 1640ms;
}
.menuicon:checked ~ .nav ul li:nth-child(5) {
  transition-delay: 1720ms;
}
.menuicon:checked ~ .nav ul li:nth-child(6) {
  transition-delay: 1800ms;
}
.menuicon:checked ~ .nav ul li:nth-child(7) {
  transition-delay: 1880ms;
}
.menuicon:checked ~ .nav ul li:nth-child(8) {
  transition-delay: 1960ms;
}
/* hamburger */
.menuicon:checked + label,
.menuicon:not(:checked) + label {
  position: fixed;
  top: 43px;
  right: 40px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menuicon:checked + label:before,
.menuicon:not(:checked) + label:before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease,
    top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* barre milieu hamburger */
.menuicon:checked + label:after,
.menuicon:not(:checked) + label:after {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, right 100ms 1750ms ease,
    margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menuicon:checked + label:before {
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease,
    top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menuicon:checked + label:after {
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* fond avec menu et style hamburger */
.nav {
  position: fixed;
  top: 14px;
  right: 20px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  background-color: #ff5642;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 1100ms ease,
    width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
    height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.menuicon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 160%;
  height: 160%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease,
    width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
    height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* position menu text */
.nav ul {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  padding-left: 25%;
  margin: auto;
  z-index: 6;
  transform: translateY(-50%);
  list-style: none;
}
/* texte menu  */
.nav ul li {
  position: relative;
  display: block;
  padding: 0;
  margin: 40px 0;
  text-align: start;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}

.nav ul li:nth-child(1) {
  transition-delay: 200ms;
}
.nav ul li:nth-child(2) {
  transition-delay: 150ms;
}
.nav ul li:nth-child(3) {
  transition-delay: 100ms;
}
.nav ul li:nth-child(4) {
  transition-delay: 50ms;
}
/* taille de la police menu */
.nav ul li a {
  font-family: "Montserrat";
  font-size: 3vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover {
  color: #2176fb;
}

.nav ul li a:hover:after {
  width: 100%;
}

.menuicon:checked ~ .nav ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease, transform 250ms ease;
}
.menuicon:checked ~ .nav ul li:nth-child(1) {
  transition-delay: 1400ms;
}
.menuicon:checked ~ .nav ul li:nth-child(2) {
  transition-delay: 1480ms;
}
.menuicon:checked ~ .nav ul li:nth-child(3) {
  transition-delay: 1560ms;
}
.menuicon:checked ~ .nav ul li:nth-child(4) {
  transition-delay: 1640ms;
}
/* mobile */
@media (max-width: 700px) {
  .nav {
    display: flex;
    align-items: center;
  }
  .nav ul {
    position: absolute;
    top: 50%;
    display: flex;
    padding: 0;
    margin: 5px;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .nav ul li {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    margin: 14px 0;
  }
  .nav ul li a {
    font-size: 15px;
  }
  .texte_info {
    visibility: hidden;
  }
  .texte_info2 {
    visibility: visible;
    font-size: 16px;
  }
  .texte {
    font-size: 14px;
  }
  .content_row2 {
    visibility: visible;
    margin-top: 3vh;
  }
  .content_texte {
    visibility: hidden;
    margin-top: -10vh;
  }
  .icons_contact {
    margin-left: -15%;
  }
  .content_info {
    position: relative;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-bottom: 5%;
    margin-right: auto;
    left: 0;
  }
}
/* ipad */
@media (min-width: 700px) and (max-width: 1023px) {
  /* .content_info {
    top: 0%;
    left: 33%;
    width: 500px;
    padding: 30px 10px 30px 10px;
    margin: 35rem 0rem;
  } */
  .nav {
    display: flex;
    align-items: center;
  }
  .nav ul {
    position: absolute;
    top: 50%;
    display: flex;
    padding: 0;
    margin: 5px;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .nav ul li {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    margin: 25px 0;
  }
  .nav ul li a {
    font-size: 2vh;
  }
  .texte_info {
    font-size: 2vh;
    margin-bottom: 5%;
  }
  .texte {
    font-size: 2vh;
  }
  .content_info {
    position: relative;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-bottom: 5%;
    margin-right: auto;
    left: 0;
  }
  .content_row2 {
    visibility: visible;
    margin-top: 3vh;
  }
  .content_texte {
    visibility: hidden;
    margin-top: -10vh;
  }
  .icons_contact {
    margin-left: -15%;
  }
}
